<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljy.authority.authority_test.model.repository">
<select id="selectUserName" resultType="user">
select * from user
where userId = 'user01'
</select>

</mapper>